FeedPet/flows.json
[{"id":"11493d71540f4291","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"55ad338bfb2af582","type":"ui_chart","z":"11493d71540f4291","name":"","group":"9c38966eb7b22101","order":2,"width":5,"height":5,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":3950,"y":360,"wires":[[]]},{"id":"6226a3fdc7875195","type":"ui_gauge","z":"11493d71540f4291","name":"","group":"aaadcd41adc4cad5","order":1,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":970,"y":800,"wires":[]},{"id":"2f25099b88d140ac","type":"function","z":"11493d71540f4291","name":"function 1","func":"var x = flow.get('x');\nvar text = \"\";\n\nif (x <= 10) text = \" Thức ăn trong khay đã cạn. Thú cưng của bạn đang dọn đồ rời khỏi nhà 😭\"\nelse if(x <= 30) text = \" Thức ăn trong khay gần hết. Đừng bỏ đói thú cưng nhé 🥺\";\nelse if(x <= 60) text = \" Thức ăn trong khay vừa đủ để làm thú cưng vui cả ngày 🐶\";\nelse text = \" Thức ăn còn nhiều. Thú cưng hài lòng vì điều đó 🐱\"\n\nmsg.payload = text;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":880,"wires":[["99cb0c7d9999a255"]]},{"id":"99cb0c7d9999a255","type":"ui_text","z":"11493d71540f4291","group":"aaadcd41adc4cad5","order":3,"width":0,"height":0,"name":"","label":"Mô tả:","format":"{{msg.payload}}","layout":"row-left","className":"","style":true,"font":"Courier,monospace","fontSize":"14","color":"#000000","x":1370,"y":880,"wires":[]},{"id":"9d3c36bb6694c664","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"x","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":920,"wires":[["2f25099b88d140ac","8a4eb8ae4aaa621a","58f4422747809927"]]},{"id":"6590e9b5f4e2e0e2","type":"ui_text","z":"11493d71540f4291","group":"aaadcd41adc4cad5","order":4,"width":0,"height":0,"name":"","label":"Lời khuyên:","format":"{{msg.payload}}","layout":"row-left","className":"","style":true,"font":"Courier,monospace","fontSize":"14","color":"#000000","x":1390,"y":960,"wires":[]},{"id":"8a4eb8ae4aaa621a","type":"function","z":"11493d71540f4291","name":"function 2","func":"var x = flow.get('x');\nvar text = \"\";\n\nif (x <= 10) text = \" Bạn cần thêm thật nhiều thức ăn vào để níu kéo thú cưng của bạn\"\nelse if(x <= 30) text = \" Hãy thêm thức ăn vào. Thú cưng cần ăn nhiều sau một ngày nằm ngủ vất vả\";\nelse if(x <= 60) text = \" Thêm thức ăn nếu bạn muốn thú cưng yêu bạn hơn\";\nelse text = \" Có thể thêm thức ăn nếu trong tương lai bạn bỏ mặt thú cưng.\"\n\nmsg.payload = text;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":960,"wires":[["6590e9b5f4e2e0e2"]]},{"id":"54cca78176879c24","type":"ui_text","z":"11493d71540f4291","group":"aaadcd41adc4cad5","order":5,"width":4,"height":1,"name":"","label":"Lượng % thức ăn bạn muốn thêm vào:","format":"","layout":"row-left","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1480,"y":1020,"wires":[]},{"id":"9df2a5c0dc39bac6","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"k","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1140,"wires":[["cb731f9a5a6c687a"]]},{"id":"8d095cec6d9c4ef6","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"y","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1060,"wires":[["6427ac57e8ebe9fd","cb731f9a5a6c687a"]]},{"id":"a2b0984ab67065f0","type":"function","z":"11493d71540f4291","name":"function 4","func":"var x = flow.get('p');\nvar y = flow.get('y');\n\nif (isNaN(Number(x))) {\n    x = 0;\n} else {\n    x = Number(x);\n}\n\nif (isNaN(Number(y))) {\n    y = 0;\n} else {\n    y = Number(y);\n}\n\nmsg.payload = x + y;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1860,"y":1100,"wires":[[]]},{"id":"a15bbe7e6c12be7d","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"p","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":1100,"wires":[["a2b0984ab67065f0"]]},{"id":"cb731f9a5a6c687a","type":"function","z":"11493d71540f4291","name":"function 8","func":"var x = flow.get('k');\nvar y = flow.get('y');\n\nif(x + y > 100) msg.payload = 100 - y;\nelse msg.payload = x;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":1100,"wires":[["b81701a05ea52b21"]]},{"id":"6427ac57e8ebe9fd","type":"function","z":"11493d71540f4291","name":"function 9","func":"var y = flow.get('y');\n\nmsg.payload = 100 - y;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":1020,"wires":[["54cca78176879c24"]]},{"id":"c3a23de7111ac782","type":"ui_button","z":"11493d71540f4291","name":"","group":"aaadcd41adc4cad5","order":8,"width":0,"height":0,"passthru":false,"label":"Thêm","tooltip":"","color":"","bgcolor":"","className":"","icon":"check_box","payload":"z","payloadType":"flow","topic":"topic","topicType":"msg","x":1550,"y":1100,"wires":[["a15bbe7e6c12be7d"]]},{"id":"b81701a05ea52b21","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"z","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":1100,"wires":[["c3a23de7111ac782"]]},{"id":"6fff5e6466df5d01","type":"ui_slider","z":"11493d71540f4291","name":"","label":"","tooltip":"","group":"aaadcd41adc4cad5","order":6,"width":2,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"className":"","x":810,"y":1160,"wires":[["9df2a5c0dc39bac6","4488e757f96f6471"]]},{"id":"4488e757f96f6471","type":"ui_text","z":"11493d71540f4291","group":"aaadcd41adc4cad5","order":7,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload + '%'}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":970,"y":1200,"wires":[]},{"id":"93aaefc170764ee8","type":"ui_text","z":"11493d71540f4291","group":"9c38966eb7b22101","order":1,"width":0,"height":0,"name":"","label":"Biểu đồ tuần:","format":"{{msg.payload}}","layout":"row-left","className":"","style":true,"font":"Courier,monospace","fontSize":"14","color":"#000000","x":3560,"y":360,"wires":[]},{"id":"72e366ed8f62413d","type":"ui_text","z":"11493d71540f4291","group":"9c38966eb7b22101","order":3,"width":0,"height":0,"name":"","label":"Biểu đồ tháng:","format":"{{msg.payload}}","layout":"row-left","className":"","style":true,"font":"Courier,monospace","fontSize":"14","color":"#000000","x":3560,"y":440,"wires":[]},{"id":"f0d131f415d7baac","type":"firebase.on","z":"11493d71540f4291","name":"","firebaseconfig":"","childpath":"","atStart":true,"eventType":"value","queries":[],"x":340,"y":440,"wires":[["e219ed403f267c41"]]},{"id":"6b39e0256035572e","type":"ui_text","z":"11493d71540f4291","group":"6ac26293e3ab4a99","order":2,"width":"6","height":"1","name":"","label":"Đăng nhập","format":"{{msg.payload}}","layout":"row-left","className":"","style":true,"font":"Georgia,Georgia,serif","fontSize":"16","color":"#000000","x":1830,"y":100,"wires":[]},{"id":"d14c330853e69edd","type":"ui_text","z":"11493d71540f4291","group":"6ac26293e3ab4a99","order":1,"width":"6","height":"1","name":"","label":"Đăng ký","format":"{{msg.payload}}","layout":"row-left","className":"","style":true,"font":"Georgia,Georgia,serif","fontSize":"16","color":"#000000","x":460,"y":100,"wires":[]},{"id":"f69f81a7e6c98bac","type":"ui_text","z":"11493d71540f4291","group":"6ac26293e3ab4a99","order":3,"width":"2","height":"1","name":"","label":"Tài khoản:","format":"{{msg.payload}}","layout":"row-left","className":"","style":true,"font":"Courier,monospace","fontSize":16,"color":"#000000","x":470,"y":160,"wires":[]},{"id":"454f388c5c4c36c4","type":"ui_text","z":"11493d71540f4291","group":"6ac26293e3ab4a99","order":5,"width":"2","height":"1","name":"","label":"Tài khoản:","format":"{{msg.payload}}","layout":"row-left","className":"","style":true,"font":"Courier,monospace","fontSize":16,"color":"#000000","x":1830,"y":160,"wires":[]},{"id":"6b49362fb49cff6f","type":"ui_text_input","z":"11493d71540f4291","name":"","label":"","tooltip":"","group":"6ac26293e3ab4a99","order":4,"width":"4","height":"1","passthru":true,"mode":"email","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":690,"y":160,"wires":[["fe2c9fe7c2330994"]]},{"id":"8946eb386edfc51d","type":"ui_text_input","z":"11493d71540f4291","name":"","label":"","tooltip":"","group":"6ac26293e3ab4a99","order":6,"width":"4","height":"1","passthru":true,"mode":"email","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":2030,"y":160,"wires":[["48bd43162ebd7e8c"]]},{"id":"b84b530a971de5d1","type":"ui_text","z":"11493d71540f4291","group":"6ac26293e3ab4a99","order":7,"width":"2","height":"1","name":"","label":"Mật khẩu:","format":"{{msg.payload}}","layout":"row-left","className":"","style":true,"font":"Courier,monospace","fontSize":16,"color":"#000000","x":460,"y":240,"wires":[]},{"id":"c3ac368f95588511","type":"ui_text","z":"11493d71540f4291","group":"6ac26293e3ab4a99","order":9,"width":"2","height":"1","name":"","label":"Mật khẩu:","format":"{{msg.payload}}","layout":"row-left","className":"","style":true,"font":"Courier,monospace","fontSize":16,"color":"#000000","x":1820,"y":240,"wires":[]},{"id":"2a6923881ce5a1b2","type":"ui_text_input","z":"11493d71540f4291","name":"","label":"","tooltip":"","group":"6ac26293e3ab4a99","order":8,"width":"4","height":"1","passthru":true,"mode":"password","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":700,"y":240,"wires":[["8774d11b96905b8c"]]},{"id":"b3af43656013df81","type":"ui_text_input","z":"11493d71540f4291","name":"","label":"","tooltip":"","group":"6ac26293e3ab4a99","order":10,"width":"4","height":"1","passthru":true,"mode":"password","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":2040,"y":240,"wires":[["492e72318c80d2a2"]]},{"id":"b1b798c3dd367808","type":"ui_button","z":"11493d71540f4291","name":"","group":"6ac26293e3ab4a99","order":15,"width":"6","height":"1","passthru":false,"label":"Xác nhận","tooltip":"","color":"","bgcolor":"","className":"","icon":"done","payload":"z","payloadType":"flow","topic":"topic","topicType":"msg","x":460,"y":360,"wires":[["f900cb2114c9a673"]]},{"id":"3db90bc6887494ee","type":"ui_button","z":"11493d71540f4291","name":"","group":"6ac26293e3ab4a99","order":16,"width":"6","height":"1","passthru":false,"label":"Xác nhận","tooltip":"","color":"","bgcolor":"","className":"","icon":"done","payload":"x","payloadType":"flow","topic":"topic","topicType":"msg","x":3060,"y":200,"wires":[["56ac73ebbd01e746"]]},{"id":"1c7abd3ff2879873","type":"ui_text","z":"11493d71540f4291","group":"6ac26293e3ab4a99","order":13,"width":"6","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1810,"y":300,"wires":[]},{"id":"8774d11b96905b8c","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"passC","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":240,"wires":[["e9a61e30c3e0a755"]]},{"id":"e9a61e30c3e0a755","type":"function","z":"11493d71540f4291","name":"function 10","func":"var x = flow.get('accC');\nvar y = flow.get('passC');\nvar z = flow.get('chartC');\n\nvar text = {\n    acc: x,\n    pass: y,\n    chart: z\n};\n\nmsg.payload = text;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":140,"wires":[["af55d15b29c60b96"]]},{"id":"af55d15b29c60b96","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"z","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":300,"wires":[["b1b798c3dd367808"]]},{"id":"fe2c9fe7c2330994","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"accC","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":160,"wires":[["e9a61e30c3e0a755"]]},{"id":"61fee0b83f6953c3","type":"firebase modify","z":"11493d71540f4291","name":"","firebaseconfig":"","childpath":"","method":"push","value":"msg.payload","priority":"msg.priority","x":1430,"y":560,"wires":[["8b6f1f148c718ecc"]]},{"id":"acceefbf73305745","type":"function","z":"11493d71540f4291","name":"function 11","func":"// Lấy toàn bộ dữ liệu từ msg.payload\nvar emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nvar z = flow.get('z');\nvar j = flow.get('j');\n\nif(j == \"Pressed\"){\n    if (z.acc && emailRegex.test(z.acc) && z.pass != \"\") {\n        var data = flow.get('x');\n    } else {\n        msg.payload = 1;\n        return msg;\n    }\n    \n    // Tạo mảng chứa các object\n    var objectsArray = [];\n\n    // Duyệt qua từng key và đẩy object vào mảng\n    for (var i = 0; i < Object.keys(data).length; i++) {\n        objectsArray.push(data[Object.keys(data)[i]]);\n    }\n\n    for (var i = 0; i < objectsArray.length; i++) \n        if (objectsArray[i].acc == z.acc) {\n            msg.payload = 0;\n            return msg;\n        }\n\n    msg.payload = z;\n}\nelse if(j == \"Added\") msg.payload = 2;\nelse msg.payload = 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":440,"wires":[["a15c1963c2d45590","404d1a0378267748"]]},{"id":"f900cb2114c9a673","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"z","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":360,"wires":[["acceefbf73305745"]]},{"id":"e219ed403f267c41","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"x","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":440,"wires":[["acceefbf73305745"]]},{"id":"a15c1963c2d45590","type":"switch","z":"11493d71540f4291","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"z","vt":"flow"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":1090,"y":440,"wires":[["85cf4fdc602cfba4"],["8ec4127ee8f7675f","61fee0b83f6953c3"],["d917894aaf031f9a"],["002e1e41789ad369"]]},{"id":"858d8ed2a5de2c48","type":"ui_text","z":"11493d71540f4291","group":"6ac26293e3ab4a99","order":11,"width":"6","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","style":true,"font":"Georgia,Georgia,serif","fontSize":"14","color":"#000000","x":1490,"y":420,"wires":[]},{"id":"85cf4fdc602cfba4","type":"function","z":"11493d71540f4291","name":"function 12","func":"msg.payload = \"Tài khoản đã tồn tại.\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":380,"wires":[["858d8ed2a5de2c48"]]},{"id":"95e7188fdd37970a","type":"ui_text","z":"11493d71540f4291","group":"6ac26293e3ab4a99","order":14,"width":"6","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1810,"y":380,"wires":[]},{"id":"d917894aaf031f9a","type":"function","z":"11493d71540f4291","name":"function 14","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":460,"wires":[["858d8ed2a5de2c48"]]},{"id":"8ec4127ee8f7675f","type":"function","z":"11493d71540f4291","name":"function 16","func":"msg.payload = \"Tạo tài khoản thành công.\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":420,"wires":[["858d8ed2a5de2c48"]]},{"id":"48bd43162ebd7e8c","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"acc","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2270,"y":160,"wires":[["557d0108cb2e92ba"]]},{"id":"492e72318c80d2a2","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"pass","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2270,"y":240,"wires":[["557d0108cb2e92ba"]]},{"id":"557d0108cb2e92ba","type":"function","z":"11493d71540f4291","name":"function 18","func":"var x = flow.get('acc');\nvar y = flow.get('pass');\nvar z = flow.get('chart');\n\nvar text = {\n    acc : x,\n    pass : y,\n    chart: z\n}\n\nmsg.payload = text;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":200,"wires":[["85910ef4871b4937"]]},{"id":"85910ef4871b4937","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"x","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2900,"y":200,"wires":[["3db90bc6887494ee"]]},{"id":"edf23fae279aec3a","type":"firebase.on","z":"11493d71540f4291","name":"","firebaseconfig":"","childpath":"","atStart":true,"eventType":"value","queries":[],"x":2920,"y":280,"wires":[["b2017f81a8ec908c"]]},{"id":"b2017f81a8ec908c","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"y","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3240,"y":280,"wires":[["fc45aa32ce99a764"]]},{"id":"56ac73ebbd01e746","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"z","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3240,"y":200,"wires":[["fc45aa32ce99a764"]]},{"id":"fc45aa32ce99a764","type":"function","z":"11493d71540f4291","name":"function 19","func":"var z = flow.get('z');\nvar h = flow.get('h');\nvar emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\nif(h == \"Pressed\"){\n    if (z != undefined && z.acc && emailRegex.test(z.acc) && z.pass != \"\") {\n        var data = flow.get('y');\n    } else {\n        msg.topic = 3;\n        return msg;\n    }\n\n    // Tạo mảng chứa các object\n    var objectsArray = [];\n\n    // Duyệt qua từng key và đẩy object vào mảng\n    for (var i = 0; i < Object.keys(data).length; i++) {\n        objectsArray.push(data[Object.keys(data)[i]]);\n    }\n\n    for (var i = 0; i < objectsArray.length; i++) \n        if (objectsArray[i].acc == z.acc && objectsArray[i].pass == z.pass) {\n            z.chart = objectsArray[i].chart;\n            msg.payload = z;\n            msg.topic = 1;\n            return msg;\n        }\n\n\n    msg.payload = 0;\n    msg.topic = 2;\n}\nelse msg.topic = 3;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3430,"y":240,"wires":[["43d458c54102632b","639b70b950ec689b","45f6eb38f431ac65"]]},{"id":"404d1a0378267748","type":"switch","z":"11493d71540f4291","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":500,"wires":[["85cf4fdc602cfba4"],["d917894aaf031f9a"]]},{"id":"638e66931bc6573b","type":"inject","z":"11493d71540f4291","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":470,"y":40,"wires":[["2a6923881ce5a1b2","6b49362fb49cff6f"]]},{"id":"29f8844f56d8b9a1","type":"inject","z":"11493d71540f4291","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1850,"y":40,"wires":[["b3af43656013df81","8946eb386edfc51d"]]},{"id":"43d458c54102632b","type":"switch","z":"11493d71540f4291","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":3610,"y":240,"wires":[["7a80da36357c024f","afeb4c4f0a6cf342"],["ef2c82802bdfd719"],["e0844b01a639d688"]]},{"id":"7a80da36357c024f","type":"function","z":"11493d71540f4291","name":"function 21","func":"msg.payload = \"Đăng nhập thành công.\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3770,"y":200,"wires":[["f3a1b1691a081d71"]]},{"id":"ef2c82802bdfd719","type":"function","z":"11493d71540f4291","name":"function 22","func":"msg.payload = \"Sai tài khoản hoặc mật khẩu.\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3770,"y":240,"wires":[["f3a1b1691a081d71"]]},{"id":"f3a1b1691a081d71","type":"ui_text","z":"11493d71540f4291","group":"6ac26293e3ab4a99","order":12,"width":"6","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","style":true,"font":"Georgia,Georgia,serif","fontSize":"14","color":"#000000","x":3930,"y":240,"wires":[]},{"id":"e0844b01a639d688","type":"function","z":"11493d71540f4291","name":"function 23","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3770,"y":280,"wires":[["f3a1b1691a081d71"]]},{"id":"bcb463cc8af9437a","type":"aedes broker","z":"11493d71540f4291","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","persistence_bind":"memory","dburl":"","usetls":false,"x":670,"y":800,"wires":[[],[]]},{"id":"ec0ff45300d77a45","type":"mqtt in","z":"11493d71540f4291","name":"","topic":"from-esp8266","qos":"2","datatype":"auto-detect","broker":"3eb970cd1f8faa93","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":920,"wires":[["6226a3fdc7875195","9d3c36bb6694c664","8d095cec6d9c4ef6"]]},{"id":"e7bfad92734bc53a","type":"mqtt out","z":"11493d71540f4291","name":"","topic":"to-esp8266","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3eb970cd1f8faa93","x":2070,"y":1220,"wires":[]},{"id":"8b6f1f148c718ecc","type":"function","z":"11493d71540f4291","name":"function 20","func":"msg.payload = \"Tạo tài khoản thành công.\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":560,"wires":[["858d8ed2a5de2c48","8ec4127ee8f7675f"]]},{"id":"bc2c9b980a31399d","type":"http request","z":"11493d71540f4291","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.pushsafer.com/api?k=XA65jek3QmBl6zDHODeI&m={{payload}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1790,"y":800,"wires":[[]]},{"id":"13ef466c4d2af756","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"t","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2980,"y":940,"wires":[["dbc4f193d004a7a3","19955583ea1ab468"]]},{"id":"dbc4f193d004a7a3","type":"function","z":"11493d71540f4291","name":"function 26","func":"var z = flow.get('z');\nvar t = flow.get('t');\n\nif(t == \"none\" || z == 1)\n    msg.payload = 1;\nelse{\n    msg.payload = t;\n    var data = flow.get('k');\n\n    // Duyệt qua từng key và kiểm tra thông tin đăng nhập\n    for (var key in data) {\n        if (data.hasOwnProperty(key)) {\n            var user = data[key];\n            if (user.acc == z.acc && user.pass == z.pass) {\n                msg.payload = t;\n                msg.childpath = key;\n                msg.childpath += \"/chart\"\n                \n                return msg;\n            }\n        }\n    }\n\n    msg.payload = 1;\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3210,"y":880,"wires":[["7272e5fdebb9a315","51bb935d6f7967f6"]]},{"id":"c15d491a856a9a7f","type":"firebase.on","z":"11493d71540f4291","name":"","firebaseconfig":"","childpath":"","atStart":true,"eventType":"value","queries":[],"x":2640,"y":820,"wires":[["0916b3b19824fd5f"]]},{"id":"0916b3b19824fd5f","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"k","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2980,"y":820,"wires":[["dbc4f193d004a7a3"]]},{"id":"c2ee6be46ca4ef28","type":"inject","z":"11493d71540f4291","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"str","x":810,"y":640,"wires":[["d917894aaf031f9a"]]},{"id":"1ba64850c1b711e6","type":"inject","z":"11493d71540f4291","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":3610,"y":120,"wires":[["e0844b01a639d688"]]},{"id":"2c694785b31587b0","type":"firebase modify","z":"11493d71540f4291","name":"","firebaseconfig":"","childpath":"msg.childpath","method":"set","value":"msg.payload","priority":"msg.priority","x":4290,"y":360,"wires":[[]]},{"id":"50f46e3f9cecd245","type":"ui_chart","z":"11493d71540f4291","name":"","group":"9c38966eb7b22101","order":6,"width":"1","height":"1","label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":2170,"y":40,"wires":[["a80a3cce93b3d77b"]]},{"id":"a80a3cce93b3d77b","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"chart","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2340,"y":40,"wires":[["557d0108cb2e92ba"]]},{"id":"c81558b025dfb402","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"chartC","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":40,"wires":[["e9a61e30c3e0a755"]]},{"id":"0dc207f4db5e681a","type":"ui_chart","z":"11493d71540f4291","name":"","group":"9c38966eb7b22101","order":5,"width":"1","height":"1","label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":830,"y":40,"wires":[["c81558b025dfb402"]]},{"id":"2bbe3d07448dadb8","type":"inject","z":"11493d71540f4291","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":690,"y":40,"wires":[["0dc207f4db5e681a"]]},{"id":"6f3864c497be948f","type":"inject","z":"11493d71540f4291","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":2030,"y":40,"wires":[["50f46e3f9cecd245"]]},{"id":"af7f84747b6ee6a4","type":"ui_chart","z":"11493d71540f4291","name":"","group":"9c38966eb7b22101","order":4,"width":5,"height":5,"label":"","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"30","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":3950,"y":440,"wires":[[]]},{"id":"7272e5fdebb9a315","type":"switch","z":"11493d71540f4291","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"t","vt":"flow"}],"checkall":"false","repair":false,"outputs":1,"x":3390,"y":880,"wires":[["b96e6d24384d8b2d"]]},{"id":"46cd97de7a9cf09b","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"f","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2780,"y":1100,"wires":[["6311f70ce93ef6af"]]},{"id":"9de9d3bcef09e321","type":"mqtt in","z":"11493d71540f4291","name":"","topic":"from-esp8266","qos":"2","datatype":"auto-detect","broker":"3eb970cd1f8faa93","nl":false,"rap":true,"rh":0,"inputs":0,"x":2610,"y":1100,"wires":[["46cd97de7a9cf09b"]]},{"id":"6311f70ce93ef6af","type":"function","z":"11493d71540f4291","name":"function 28","func":"var f = flow.get('f');\nvar g = flow.get('g');\n\nif(g == \"ok\")\n    msg.topic = 2;\nelse\n    msg.topic = 1;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2970,"y":1120,"wires":[["2e454b3a22528c96"]]},{"id":"12a7dacff8aab76f","type":"inject","z":"11493d71540f4291","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"ok","payloadType":"str","x":2410,"y":1160,"wires":[["df71c6134857cad3"]]},{"id":"6ed4f17b6ae398c7","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"g","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2780,"y":1160,"wires":[["6311f70ce93ef6af"]]},{"id":"2e454b3a22528c96","type":"switch","z":"11493d71540f4291","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":3170,"y":1120,"wires":[["cbff2084912e8ffb"]]},{"id":"c8551505d33f7c21","type":"inject","z":"11493d71540f4291","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"none","x":2610,"y":1240,"wires":[["6ed4f17b6ae398c7"]]},{"id":"cbff2084912e8ffb","type":"function","z":"11493d71540f4291","name":"function 29","func":"msg.payload = flow.get('f');\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3370,"y":1120,"wires":[["13ef466c4d2af756"]]},{"id":"afeb4c4f0a6cf342","type":"function","z":"11493d71540f4291","name":"function 30","func":"var z = flow.get('z');\n\nmsg.payload = z.chart;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3770,"y":360,"wires":[["af7f84747b6ee6a4","55ad338bfb2af582"]]},{"id":"31c05fed3292ceaa","type":"complete","z":"11493d71540f4291","name":"","scope":["a2b0984ab67065f0"],"uncaught":false,"x":1870,"y":1220,"wires":[["e7bfad92734bc53a"]]},{"id":"a8029bdd60a9828b","type":"inject","z":"11493d71540f4291","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"none","payloadType":"str","x":2770,"y":940,"wires":[["13ef466c4d2af756"]]},{"id":"639b70b950ec689b","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"z","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3220,"y":680,"wires":[["dbc4f193d004a7a3"]]},{"id":"b96e6d24384d8b2d","type":"debug","z":"11493d71540f4291","name":"debug 12","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3440,"y":740,"wires":[]},{"id":"51bb935d6f7967f6","type":"debug","z":"11493d71540f4291","name":"debug 13","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3330,"y":1000,"wires":[]},{"id":"19955583ea1ab468","type":"debug","z":"11493d71540f4291","name":"debug 15","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3120,"y":980,"wires":[]},{"id":"154ad6098497a005","type":"complete","z":"11493d71540f4291","name":"","scope":["56ac73ebbd01e746"],"uncaught":false,"x":2670,"y":100,"wires":[["00028aeb2d5c6c14"]]},{"id":"191d3428ec712676","type":"function","z":"11493d71540f4291","name":"function 34","func":"var ac = flow.get('ac');\nif(ac.acc != undefined && ac.pass != undefined)\n    msg.payload = \"Pressed\";\nelse\n    msg.payload = \"Not pressed\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3050,"y":100,"wires":[["6f220a6318f99ed7"]]},{"id":"6f220a6318f99ed7","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"h","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3240,"y":100,"wires":[["fc45aa32ce99a764"]]},{"id":"20cea55044744253","type":"complete","z":"11493d71540f4291","name":"","scope":["f900cb2114c9a673"],"uncaught":false,"x":130,"y":500,"wires":[["9dce7c83ec99022f"]]},{"id":"6d8c303a6b54f536","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"j","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":520,"wires":[["acceefbf73305745"]]},{"id":"9faa3aa5d6d493be","type":"function","z":"11493d71540f4291","name":"function 35","func":"var a = flow.get('account');\n\nif(a.acc != undefined && a.pass != undefined) \n    msg.payload = \"Pressed\";\nelse if(a == \"Tạo tài khoản thành công.\") \n    msg.payload = \"Added\";\nelse \n    msg.payload = \"Not pressed\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":520,"wires":[["6d8c303a6b54f536"]]},{"id":"00028aeb2d5c6c14","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"ac","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2870,"y":100,"wires":[["191d3428ec712676"]]},{"id":"9dce7c83ec99022f","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"account","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":520,"wires":[["9faa3aa5d6d493be"]]},{"id":"fe28d89557926f3c","type":"complete","z":"11493d71540f4291","name":"","scope":["8ec4127ee8f7675f"],"uncaught":false,"x":130,"y":540,"wires":[["9dce7c83ec99022f"]]},{"id":"002e1e41789ad369","type":"function","z":"11493d71540f4291","name":"function 36","func":"msg.payload = \"Tạo tài khoản thành công.\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":500,"wires":[["858d8ed2a5de2c48"]]},{"id":"58f4422747809927","type":"function","z":"11493d71540f4291","name":"function 37","func":"var x = flow.get('x');\nmsg.topic = 2;\nif(x < 30) {\n    msg.payload = \"Thức ăn trong khay chỉ còn \" + String(x) + \"%. Hãy thêm thức ăn vào khay.\";\n    msg.topic = 1;\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":800,"wires":[["2f5977ee6b9e1862"]]},{"id":"2f5977ee6b9e1862","type":"switch","z":"11493d71540f4291","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1400,"y":800,"wires":[["e32c609f0a066824"]]},{"id":"e32c609f0a066824","type":"delay","z":"11493d71540f4291","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1580,"y":800,"wires":[["32a1a6812d2e30a3","bc2c9b980a31399d"]]},{"id":"df71c6134857cad3","type":"delay","z":"11493d71540f4291","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":2560,"y":1160,"wires":[["6ed4f17b6ae398c7","df8e12589d38a5de"]]},{"id":"df8e12589d38a5de","type":"debug","z":"11493d71540f4291","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2830,"y":1240,"wires":[]},{"id":"52f8f054f6559cb5","type":"complete","z":"11493d71540f4291","name":"","scope":["cbff2084912e8ffb"],"uncaught":false,"x":2390,"y":1340,"wires":[["81216f7d4f9191cc"]]},{"id":"81216f7d4f9191cc","type":"function","z":"11493d71540f4291","name":"function 38","func":"msg.payload = \"none\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2570,"y":1340,"wires":[["6ed4f17b6ae398c7"]]},{"id":"d47706ad96310b99","type":"e-mail","z":"11493d71540f4291","server":"smtp.gmail.com","port":"465","authtype":"BASIC","saslformat":true,"token":"oauth2Response.access_token","secure":true,"tls":true,"name":"","dname":"","x":3350,"y":400,"wires":[]},{"id":"45f6eb38f431ac65","type":"function","z":"11493d71540f4291","name":"function 39","func":"var k = flow.get('k');\nvar z = flow.get('z');\nvar h = flow.get('h');\n\nif(h == \"Pressed\"){\n    if(z != 1){\n        msg.topic = k;\n        msg.payload = \"Lượng thức ăn trong khay gần cạn kiệt. Bạn vui lòng vào website để thêm thức ăn cho thú cưng của bạn.\"\n        msg.to = z.acc;\n    }\n    else msg.topic = -1;\n}\nelse msg.topic = -1;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3090,"y":400,"wires":[["46e4fc749f3fb42b"]]},{"id":"32a1a6812d2e30a3","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"k","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2280,"y":620,"wires":[["45f6eb38f431ac65"]]},{"id":"46e4fc749f3fb42b","type":"switch","z":"11493d71540f4291","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"k","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":3230,"y":400,"wires":[["d47706ad96310b99"]]},{"id":"ab9c891206439b7a","type":"inject","z":"11493d71540f4291","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":3110,"y":20,"wires":[["6f220a6318f99ed7"]]},{"id":"daeebbfa4ef4cfa7","type":"complete","z":"11493d71540f4291","name":"","scope":["d47706ad96310b99"],"uncaught":false,"x":2500,"y":400,"wires":[["39364ba5ad11914c"]]},{"id":"e273e51016cb8aa2","type":"change","z":"11493d71540f4291","name":"","rules":[{"t":"set","p":"h","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2840,"y":400,"wires":[["45f6eb38f431ac65"]]},{"id":"50586ce60bc68466","type":"complete","z":"11493d71540f4291","name":"","scope":["32a1a6812d2e30a3"],"uncaught":false,"x":2510,"y":460,"wires":[["0dd770598f0db6be"]]},{"id":"39364ba5ad11914c","type":"function","z":"11493d71540f4291","name":"function 40","func":"msg.payload = \"None\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2670,"y":400,"wires":[["e273e51016cb8aa2"]]},{"id":"0dd770598f0db6be","type":"function","z":"11493d71540f4291","name":"function 41","func":"msg.payload = \"Pressed\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2690,"y":460,"wires":[["e273e51016cb8aa2"]]},{"id":"d9f9cfdff8a01055","type":"ui_spacer","z":"11493d71540f4291","name":"spacer","group":"21f32d69077c7205","order":3,"width":1,"height":1},{"id":"9c38966eb7b22101","type":"ui_group","name":"Biểu đồ theo dõi sức khoẻ của thú cưng:","tab":"ef9be74885468601","order":3,"disp":true,"width":"5","collapse":false,"className":""},{"id":"aaadcd41adc4cad5","type":"ui_group","name":"Lượng thức ăn hiện tại:","tab":"ef9be74885468601","order":2,"disp":true,"width":"7","collapse":false,"className":""},{"id":"6ac26293e3ab4a99","type":"ui_group","name":"Tài khoản","tab":"ef9be74885468601","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"3eb970cd1f8faa93","type":"mqtt-broker","name":"ServerBao","broker":"192.168.181.88","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"ef9be74885468601","type":"ui_tab","name":"Home","icon":"home","order":2,"disabled":false,"hidden":false}]